<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>コメント入力</title>
  </head>
  <body>

    <h1>コメント入力</h1>
    <form class="" action="lists" method="post">
      <div class="">
        <label for="comment_name">名前</label><br>
        <input type="text" name="input_name" id="comment_name"  >
      </div>

      <div class="">
        <label for="single_comment">コメント</label><br>
        <textarea type="text" name="input_comment" id="single_comment"
        rows="4" cols="40"></textarea>
      </div>
      <input type="submit" value="送信する">
    </form>

    <a href="/">戻る</a>
  </body>
</html>
