<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>コメント一覧</title>
  </head>
  <body>
    <h1>このアプリは、コメント一覧を表示します。</h1>
    <p> <a href="/comment_list">一覧へ移動</a> </p>
    <p><a href="/comment_input">入力画面へ移動</a></p>
  </body>
</html>
